{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block main %}

    <h1>Room index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Capacity</th>
                <th>Superficy</th>
                <th>Price</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if app.user == null %}
        	    <tr>
                    <td colspan="4">no records found</td>
                </tr>
        	
        {% elseif is_granted('ROLE_ADMIN') %}
            {% for room in rooms %}
                <tr>
                    <td>{{ room.id }}</td>
                    <td>{{ room.summary }}</td>
                    <td>{{ room.description }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.superficy }}</td>
                    <td>{{ room.price }}</td>
                    <td>{{ room.address }}</td>
                    <td>
                        <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                        <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>                    
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for room in rooms %}
            	{% if room.owner is defined and app.user.owner == room.owner %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.summary }}</td>
                        <td>{{ room.description }}</td>
                        <td>{{ room.capacity }}</td>
                        <td>{{ room.superficy }}</td>
                        <td>{{ room.price }}</td>
                        <td>{{ room.address }}</td>
                        <td>
                            <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                            <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>                    
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        	
        {% endif %}
        </tbody>

    </table> 
    <a href="{{ path('room_new') }}">Create new</a> 


{% endblock %}
