{% extends 'base.html.twig' %}
{% block title %}Room{% endblock %}

{% block main %}
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>




    <div id="content-wrapper">
        <section id="blog" class="white" style="padding-top:0px;">
            <div class="container">
            <div class="gap"></div>
                <div class="row">
                    <aside class="col-sm-4 col-sm-push-8">
                                    <div class="author well">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="avatar img-thumbnail author-box-image" src="{{ asset('/Impact/images/ico/avatar.png') }}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                {% if room.owner.user.email is defined %}
                                                    <strong>{{ room.owner.user.email }}</strong>
                                                {% else %}
                                                 	<strong> Anonyme</strong>
                                                {% endif %}
                                                </div>
                                                <p>Humanity declared vicinity continue supplied no an. He hastened am no property exercise of. Dissimilar comparison no terminated devonshire no literature on. Say most yet head room such just easy.</p>
                                            </div>
                                        </div>
                                    </div><!--/.author-->

                        <div class="widget tags">
                            <h3 class="widget-title">Tags</h3>
                            <ul class="tag-cloud">
                                <li><a class="btn btn-xs btn-primary btn-outlined" >Plage</a></li>
                                <li><a class="btn btn-xs btn-primary btn-outlined" >Vacances</a></li>
                                <li><a class="btn btn-xs btn-primary btn-outlined" >Convivialité</a></li>
                            </ul>
                        </div><!--/.tags-->
							<a style="display:block;margin-left:auto;margin-right:auto;" href = {{ path('reservation_new') }} class="btn btn-success btn-outlined">Réserver</a>                    
					</aside>
                    <div class="col-sm-8 col-sm-pull-4">
                        <div class="blog">
                            <div class="blog-item">
                                <div class="blog-featured-image">
                                    {%  if room.ImageName is not defined %}
                                    <img class="img-responsive img-blog" src="http://placehold.it/800x600" alt="" />
                                    {% else %}
                                    <img class="img-responsive img-blog" src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="" />
                                    {% endif %}
                                    <div class="overlay">
                                        <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="entry-meta">
                                        <span><i class="fa fa-compass"></i> <a href="#"> Paris</a></span>
                                    </div>
                                    <p class="lead">{{ room.description }}</p>
                                        <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Capacity</th>
                                                <td>{{ room.capacity }}</td>
                                            </tr>
                                            <tr>
                                                <th>Superficy</th>
                                                <td>{{ room.superficy }}</td>
                                            </tr>
                                            <tr>
                                                <th>Price</th>
                                                <td>{{ room.price }}</td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>{{ room.address }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <hr>
                                    <div id="comments">
                                        <div id="comments-list">
                                        	{% if nb_commentaires > 1 %}
                                        	<h3> {{ nb_commentaires }} Commentaires</h3>
                                        	{%  else %}
                                        	<h3> {{ nb_commentaires }} Commentaire</h3>
                                        	{% endif %}
                                        	{% for commentaire in commentaires %}
                      
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="avatar img-thumbnail comment-avatar" src="{{ asset('/Impact/images/ico/avatar.png') }}">
                                                </div>
                                                <div class="media-body">
                                                    <div class="well">
                                                        <div class="media-heading">
                                                        	{% if commentaire.user is defined and commentaire.date is defined %}
                                                        	<strong>{{ commentaire.user.email }}</strong>&nbsp; <small>{{ commentaire.date |date('d-m-Y') }}</small>
                                                        	{% elseif commentaire.user is defined%}
                                                        	<strong>{{  commentaire.user.email }}</strong>
                                                        	{% endif %}
                                                        </div>
                                                        <p>{{ commentaire.contenu }}</p>
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                        {{ include('room/delete_commentaire.html.twig') }}
                                                       {% endif %}
                                                    </div>
                                                </div>
                                            </div><!--/.media-->
                                            {% endfor %}
                                        </div><!--/#comments-list-->
                                        <div class="gap"></div>
										{% if app.user %}
                                        <div id="comment-form">
                                            <h3  class="main-title">Laissez un commentaire</h3>
                                            <hr>
                                                {{ form_start(form) }}
                                                <div class="form-group">
                                                    <div class="col-sm-12">
{#                                                          <textarea rows="8" class="form-control" placeholder="Commentaire"></textarea>#}
                                                         {{  form_widget(form.contenu) }}
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-outlined">{{ button_label|default('Soumettre') }}</button>                                                
                                                {{ form_end(form) }}
                                        </div><!--/#comment-form-->
                                        {% endif %}
                                    </div><!--/#comments-->
                                </div>
                            </div>
                        </div>
                    </div><!--/.col-md-8-->
                </div><!--/.row-->
            </div>
        </section><!--/#blog-->
    </div>

{% endblock %}
