{% extends 'base.html.twig' %}

{% block title %}Nos régions{% endblock %}

{% block main %}
<div id="content-wrapper">

        <section id="portfolio" class="white" >
       		<div class="container">
<div class="card-columns">
{% for region in regions %}
<div class="m-3 card" style="width: 20rem;">
  <img src="{{ asset('images/portfolio/folio01.jpg') }}"  width="200" height="150" class="card-img-top" alt="Image cap">
  <div class="card-body">
    <h5 class="card-title">{{region.name}} ({{region.country}}) </h5>
    <p class="card-text">{{region.presentation}}</p>
    <a href="/regions/{{region.id}}" class="btn btn-outlined btn-primary">Plus de détails</a>
  </div>
</div>
{% endfor %}
</div>
</div>
</section>
</div>
{% endblock %}

